<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <div class="login-form2">
        <!--<video src="/static/123.mp4" controls width="300"></video>-->
        <video src="https://drive.google.com/uc?export=download&id=1KdL8uDvnhmxgw1TnNLzoPJbo-iypw3yH" controls width="300"></video>
        <!--<iframe src="https://drive.google.com/uc?export=download&id=1MdqDG4YxZQ-8ZhnHwSs2wbY7cwn4qv7Y" width="500" height="600"></iframe>
        <iframe src="https://drive.google.com/uc?export=download&id=1KdL8uDvnhmxgw1TnNLzoPJbo-iypw3yH" width="500" height="600"></iframe>
        <video src="http://naver.me/5t4XeeOn" controls width="300"></video>
        <iframe src="http://naver.me/5t4XeeOn" width="500" height="600"></iframe>-->
    </div>
</head>
<body>
    <p><a href="{% url 'user:choice' %}">뒤로가기</a></p>
</body>
</html>